@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
    font-family: 'Roboto', sans-serif;
}

header {
	height: 100%;
}
.search-text{
	position: relative;
	margin: 0 auto;
	margin-top:50px;
	background-color:background: rgba(240,77,118,1);
background: -moz-linear-gradient(top, rgba(240,77,118,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 0%, rgba(240,77,118,1) 0%, rgba(255,163,174,1) 83%, rgba(255,163,174,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,77,118,1)), color-stop(0%, rgba(210,75,90,1)), color-stop(0%, rgba(186,39,55,1)), color-stop(0%, rgba(240,77,118,1)), color-stop(83%, rgba(255,163,174,1)), color-stop(100%, rgba(255,163,174,1)));
background: -webkit-linear-gradient(top, rgba(240,77,118,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 0%, rgba(240,77,118,1) 0%, rgba(255,163,174,1) 83%, rgba(255,163,174,1) 100%);
background: -o-linear-gradient(top, rgba(240,77,118,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 0%, rgba(240,77,118,1) 0%, rgba(255,163,174,1) 83%, rgba(255,163,174,1) 100%);
background: -ms-linear-gradient(top, rgba(240,77,118,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 0%, rgba(240,77,118,1) 0%, rgba(255,163,174,1) 83%, rgba(255,163,174,1) 100%);
background: linear-gradient(to bottom, rgba(240,77,118,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 0%, rgba(240,77,118,1) 0%, rgba(255,163,174,1) 83%, rgba(255,163,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04d76', endColorstr='#ffa3ae', GradientType=0 );
  padding-left: 10%;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
  margin: 0 auto;
	height:45px;
	width:500px;
	padding-left:20px;
} 

.search-text .btn-search{
	background-color:#fc568d;
	border:1px solid #fc568d;
	color:#FFF;
	padding: 11px 22px;
}

.search-text  .btn-search:hover{
	background-color:#cb1c56;
	border-color: #cb1c56;
	color:#fff;
}
/* BODY */
div#interface {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

#fundo {
	background-color: #ffb3cc;
}
p {
	text-align: justify; 
	text-indent:10px;
	font-size: 15px;
}

div#text {
	margin-top: -30%;
	width: 700px;
	margin-left: 38%;
	padding: 10px;
}

#fonte, #fonte2 {
	color: #e594af;
	text-transform: uppercase;
}

.fonte, #fonte2:hover {
	color: #f72a6e;
	text-decoration: none;
}

/* FOOTER */
img#fot{
	width: 400px;
	margin-left: 35%;
}

footer {
	position: absolute;
	padding-left: 10%;
	width: 88.5%;
	text-align: justify;
}

.coluna {
    float: left;
    text-align: center;
    width: 22%;
    height: 300px;
    margin: 0px;
    margin-top: 10px;
    padding: 15px;
    font-family: arial, sans-serif;
    position: relative;
}

h4 {
	background: #ff6496;
}